@import "tailwindcss";
/* Slow spin */
@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

/* Conic gradient background for the moving ring */
.bg-conic {
  background: conic-gradient(red, green, black, red);
}
